[submodule "WalkerEngine/vendor/spdlog"]
	path = WalkerEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "WalkerEngine/vendor/GLFW3"]
	path = WalkerEngine/vendor/GLFW3
	url = https://github.com/glfw/glfw.git
[submodule "WalkerEngine/vendor/Assimp"]
	path = WalkerEngine/vendor/Assimp
	url = git@github.com:assimp/assimp.git
[submodule "WalkerEngine/vendor/GLM"]
	path = WalkerEngine/vendor/GLM
	url = git@github.com:g-truc/glm.git
[submodule "WalkerEngine/vendor/ImGui"]
	path = WalkerEngine/vendor/ImGui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "WalkerEngine/vendor/yaml-cpp"]
	path = WalkerEngine/vendor/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "WalkerEngine/vendor/VulkanMemoryAllocator"]
	path = WalkerEngine/vendor/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
