# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
**/x64/
**/x86/
bld/
[Bb]in/
[Bb]in-int/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

Shared/Assets/Models/
!Shared/Assets/Models/SponzaPBR

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cmake
spdlog.pc

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.sln

**/*.wmesh
**/*.walker